/* 
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
*/

body{
	background-color: black;
	color: white;
}

.navbar {
    border: 1px solid white;
    font-family: 'Lobster', cursive;
    color: gray;
    font-size: 20px;
}


.navbar-nav {
	list-style-type: none;
	text-align: center;
	font-family: 'Lobster', cursive;
	color: white;
	float: right;
	font-size: 30px;
	margin-top: -25px;
}

.navbar-brand {
	color: white;
	font-size: 30px;
}

.nav-link {
	padding: 60px;
	color: white;
}

.container .jumbotron{
    display: block;
	padding-top: 10px;
	background-color: black;
	color: white;
	border-color: black;
	font-family: 'Roboto', sans-serif;
	border-radius: 0px;
	margin-bottom: 0px;
    background-image: url(https://cdn.europosters.eu/image/1300/25671.jpg);
	background-position: right;
	background-size: auto 100%;
    background-repeat: no-repeat;
    text-shadow: grey 0.2em 0.2em 0.2em;
    /*border: 1px dashed white;*/
}

.container h1{
	padding-top: 100px;
	font-family: 'Lobster', cursive;
    font-size: 150px;
    /*border: 1px dashed white;*/
    top: -100px;
}

.container h2{
	font-family: 'Lobster', cursive;
    font-size: 2em;
    position: relative;
    top: -40px;
    /*border: 1px dashed white;*/
}

.container h3 {
	font-size: 30px;
    margin-top: -20px;
}

.container .jumbotron p {
	font-size: 10px;
}

.btn-primary {
    color: black;
    font-family: 'Lobster', cursive;
    background-color: white;
    border-color: white;
}

.container .blurb{
	padding-top: 10px;
	color: white;
	font-family: 'Roboto', sans-serif;
    /*border: 1px dashed white;*/
}

.roster_pic {
	height: 220px;
	width: 200px;
	align-content: center;
	padding: 10px;
}

.team {
	list-style-type: none;
	display: inline-block;
}

.player {
	background: white;
	color: black;
	text-align: center;
	margin: 10px 10px;
	padding: 5px;
	float: right;
}

.player h1 {
	font-family: 'Lobster', cursive;
	font-size: 40px
}

.player h2 {
	font-family: 'Lobster', cursive;
	margin: 10px 0;
	margin-top: -10px;
}

.player h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-top: -10px;
}
